__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
build/
dist/
.git
node_modules
*.log
*.sqlite3
*.db
instance/
.pytest_cache/
secrets.json
*.pem
.env
env.bak
/.vscode/
node_modules
npm-debug.log
.git
.env
