{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Race Links for {{ current_race_name }}</h1>

            {% if current_race_qr %}
            <section class="section">
                <div class="box">
                    <img src="{{ url_for('static', filename='qr/' ~ current_race_qr) }}" alt="QR Code for Race" style="max-width: 80%; height: auto;">
                </div>
            </section>
            {% endif %}
            
            <section class="section">
                <h2 class="title">URL</h2>
                {% set race_url = request.url_root.rstrip('/') + url_for('index', race=current_race_id) %}
                <p class="is-size-2"><a href="{{ race_url }}"><strong>{{ race_url }}</strong></a></p>
            </section>

            {% if races_list %}
                <section class="section">
                    <h1 class="title is-4">Links for All Races</h1>
                    <ul>
                    {% for race in races_list %}
                        {% set race_url = request.url_root.rstrip('/') + url_for('index', race=race.id) %}
                        <li><p class="is-size-4"><strong>{{ race.name }} - </strong><a href="{{ race_url }}">{{ race_url }}</a></p></li>
                    {% endfor %}
                    </ul>
                </section>
            {% endif %}
            <a href="{{ url_for('index') }}" class="button">Back to Participant List</a>
        </div>
    </section>
{% endblock %}