{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Race Schedule - Round {{ selected_round_name }}</h1>

            {% if archived: %}
                {% set disabled='disabled' %}
            {% else %}
                {% set disabled='' %}
            {% endif %}

            <form id="filterForm" method="GET" class="mb-4">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Patrol:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select name="patrol" onchange="this.form.submit()">
                                        <option value="">All</option>
                                        {% for id, name in patrol_names.items()|sort %}
                                            <option value="{{ id }}" {% if selected_patrol == id %}selected{% endif %}>{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Round:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select name="round" onchange="this.form.submit()">
                                        <option value="{{ Rounds.NONE.value }}" {% if selected_round == Rounds.NONE %}selected{% endif %}>All Rounds</option>
                                        <option value="{{ Rounds.FIRST.value }}" {% if selected_round == Rounds.FIRST %}selected{% endif %}>First Round</option>
                                        <option value="{{ Rounds.SEMI.value }}" {% if selected_round == Rounds.SEMI %}selected{% endif %}>Semi-Finals</option>
                                        <option value="{{ Rounds.FINAL.value }}" {% if selected_round == Rounds.FINAL %}selected{% endif %}>Finals</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            {% if (selected_patrol|length == 0 and races|length > 0 ) or ( selected_patrol|length > 0 and races|selectattr("patrol", "eq", selected_patrol)|list|length > 0 ) %}
                <div class="columns is-multiline">
                    {% for race in races %}
                        {% if (selected_patrol == "" or race.patrol == selected_patrol) and (race.round == selected_round or selected_round == Rounds.NONE) %}
                            {% for heat in race.heats %}
                                <div class="column is-12">
                                    <div class="card mb-6">
                                        <header class="card-header has-background-light">
                                            <p class="card-header-title">
                                                {% if race.round == Rounds.FIRST %}
                                                {% set race_round="First" %}
                                                {% elif race.round == Rounds.SEMI %}
                                                {% set race_round="Semi-Finals" %}
                                                {% elif race.round == Rounds.FINAL %}
                                                {% set race_round="Finals" %}
                                                {% endif %}
                                                Race {{ race.race_number }} - {{ patrol_names.get(race.patrol) }} - Heat {{ heat.heat_number }} - Round: {{race_round}}
                                            </p>
                                        </header>
                                        <div class="card-content">
                                            <div class="columns is-mobile is-multiline">
                                                {% for lane in range(1, NUM_LANES + 1) %}
                                                    <div class="column is-6-mobile is-3-tablet">
                                                        <div class="lane-tile has-text-centered">
                                                            <div class="has-background-info-light p-1 has-text-weight-bold">Lane {{ lane }}</div>
                                                            <div class="p-3">
                                                                {% if heat.lanes.get(lane) %}
                                                                    <div class="is-size-4 has-text-weight-bold">{{ heat.lanes.get(lane).car_name }}</div>
                                                                    <div class="is-size-5 mb-2">{{ heat.lanes.get(lane).first_name }} {{ heat.lanes.get(lane).last_name }}</div>
                                                                    {% if heat.times.get(lane) %}
                                                                        {% if heat.times.get(lane) == heat.lanes.get(lane).best_time %}
                                                                                <span class="tag is-warning is-medium">&starf;{{ "{:.3f}".format(heat.times.get(lane)) }}&starf;</span>
                                                                            {% else %}
                                                                                <span class="tag is-success is-medium">{{ "{:.3f}".format(heat.times.get(lane)) }}</span>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% else %}
                                                                    <div class="has-text-grey-light is-italic py-4">Lane Empty</div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <footer class="card-footer">
                                            {% if session['role'] == "OWNER" or session['role'] == "ADMIN" %}
                                                <a href="/enter_times/{{ race.race_number }}/{{ heat.heat_number }}" class="button card-footer-item is-link is-fullwidth {{disabled}}">Enter Times</a>
                                            {% else %}
                                                <p class="card-footer-item has-text-grey">View Only</p>
                                            {% endif %}
                                        </footer>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
                <div class="has-text-centered">
                    {% if session['role'] == "OWNER" or session['role'] == "ADMIN" %}
                        {% if selected_round == Rounds.FIRST or selected_round == Rounds.NONE %}
                            {% for id, name in patrol_names.items() %}
                                {% if initial_races_completed.get(id, False) and (not semi_final_races_scheduled.get(id, False)) and id != "Exhibition" and (id == selected_patrol or selected_patrol|length == 0) and races|selectattr("patrol", "eq", id)|list|length > 0 %}
                                    <a href="javascript:confirmAction('Are you sure you want to schedule semi-finals for {{ name }}?', '{{url_for('schedule_semifinal', patrol=id, schedule_type=RaceScheduleType.PAIRED.value)}}')" class="button is-large is-primary mb-2 {{disabled}}">Schedule Paired Lanes for Semi-Finals for {{ name }}</a><br>
                                    <a href="javascript:confirmAction('Are you sure you want to schedule semi-finals for {{ name }}?', '{{url_for('schedule_semifinal', patrol=id, schedule_type=RaceScheduleType.ALL_LANES.value)}}')" class="button is-large is-primary mb-2 {{disabled}}">Schedule All Lanes for Semi-Finals for {{ name }}</a><br>
                                {% endif %}
                            {% endfor %}
                        {% elif selected_round == Rounds.SEMI or selected_round == Rounds.None %}
                            {% if all_semi_final_races_completed %}
                                <a href="javascript:confirmAction('Are you sure you want to schedule the finals?', '{{url_for('schedule_final', schedule_type=RaceScheduleType.PAIRED.value)}}')" class="button is-large is-primary mb-2 {{disabled}}">Schedule Paired Lanes for Finals</a><br>
                                <a href="javascript:confirmAction('Are you sure you want to schedule the finals?', '{{url_for('schedule_final', schedule_type=RaceScheduleType.ALL_LANES.value)}}')" class="button is-large is-primary mb-2 {{disabled}}">Schedule All Lanes for Finals</a><br>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
             {% else %}
                <div class="has-text-centered">
                    <h2 class="subtitle">No races scheduled
                        {% if selected_patrol in patrol_names %}
                            for {{ patrol_names[selected_patrol] }}
                        {% endif %}
                    </h2>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}