/*! bulma.io v1.0.2 | MIT License | github.com/jgthms/bulma */
@use "sass";
:root {
  --bulma-primary-h: 211deg;
  --bulma-primary-s: 94%;
  --bulma-primary-l: 47%;
  /* --bulma-body-background-color: #f0f0f0; */
  /*--bulma-burger-h: 126deg;*/
  /* --bulma-burger-l: 85%; */
  /* --bulma-body-color: #333; */

} 
.navbar-burger span {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.navbar-burger.hover span,
.navbar-burger.is-active span,
.navbar-burger.is-focused span{
  background-color: #ffffff !important;
  color: #000000 !important;
}

button {
    /* Add a transition to the normal state for a smooth effect */
    transition: transform 0.2s ease, box-shadow 0.2s ease, outline-color 0.2s ease;
}

.button:hover, 
.button:focus {
    transform: translateY(-2px); /* Lifts the button slightly */
    outline-color:invert(20%); /* Invert outline color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds depth */
}

.box {
  --bulma-box-shadow: 0 0.5em 1em -0.125em hsla(221deg, 25%,4%,0.1),0 0px 0 1px hsla(221deg,14%,4%,0.02);
}

/* .container {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px; } */
