{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Enter Race Times - Race {{ race.race_number }}, Heat {{ heat.heat_number }}</h1>

            {% if error_message %}
                <p class="notification is-danger">{{ error_message }}</p>
            {% endif %}

            {% if session['role'] == "OWNER" %}

            <form method="POST">
                <div class="table-container">
                    <table class="table is-bordered is-striped is-fullwidth">
                        <thead>
                            <tr>
                                {% for lane in range(1, NUM_LANES + 1) %}
                                    <th>Lane {{ lane }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for lane in range(1, NUM_LANES + 1) %}
                                    <td>
                                        {% if heat.lanes.get(lane) %}
                                            <strong>{{ heat.lanes.get(lane).car_name }}</strong><br>
                                            {{ heat.lanes.get(lane).first_name }} {{ heat.lanes.get(lane).last_name }}<br>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for lane in range(1, NUM_LANES + 1) %}
                                    <td>
                                        {% if heat.lanes.get(lane) %}
                                            <input class="input" type="number" step="0.001" name="time_race_{{ race.race_number }}_heat_{{ heat.heat_number }}_lane_{{ lane }}" value="{% if heat.times.get(lane) %}{{ heat.times[lane] }}{% endif %}" {% if lane == 1 %} autofocus {% endif %}>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="button is-primary" name="submit" type="submit" value="Submit & Go to List">
                        <input class="button is-info" name="submit" type="submit" value="Submit & Go to Next Race">
                    </div>
                </div>
            </form>
            {% endif %}
            <a href="{{ url_for('schedule') }}" class="button">Back to Schedule</a>
        </div>
    </section>
{% endblock %}