{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Race Links for {{ current_race_name }}</h1>

            {% if current_race_qr %}
            <section class="section">
                <div class="box">
                    <img src="{{ url_for('static', filename='qr/' ~ current_race_qr) }}" alt="QR Code for Race" style="max-width: 80%; height: auto;">
                </div>
            </section>
            {% endif %}
            
            <section class="section">
                <h2 class="title">URL</h2>
                <p class="is-size-2"><strong>{{ request.url_root.rstrip('/') + url_for('index', race=current_race_id) }}</strong></p>
            </section>

            <a href="{{ url_for('index') }}" class="button">Back to Participant List</a>
        </div>
    </section>
{% endblock %}